body 
{
    background-color: white;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}


.nav
{
    background-color:rgb(56, 56, 56);
    color:white;
}

.nav ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 0px;
}

.nav ul li
{
    padding: 16px;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(110, 110, 110);
    transition: background-color 0.7s
}

.nav ul li:hover{

    background-color: black;
}


.image-area
{
    background-image: url("Images/1.jpg");
    background-position: center center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;

}

.image-text
{
    text-align: center;
    color: white;
    font-size: 2.5rem;
}

.intro-text
{
    color: black;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.centered-container
{
    max-width: 1020px;
    margin: 0px auto;
    padding: 0px 16px;
}

.car-type
{
    text-align: center;
    margin-bottom: 32px;
    /* font-size: 30px; */
}

.car-type p
{
    padding: 0px 16px;
}

.image-r
{
    
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 0px;

}

.buttons {
    display: inline-block;
    cursor: pointer;
}

.image
{
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 50px;
}

@media screen and (min-width: 800px)
{

.nav ul
{
    text-align: right;
}

.image-r
{
    padding-top: 20px;
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 0px;
}

.image
{
    padding-top: 20px;
    padding-bottom: 200px;
    padding-left: 0px;
    padding-right: 100px;
}

.nav ul li
{
    display: inline-block;
    border-bottom: 0px;
    border-bottom: 1px solid rgb(110, 110, 110);
}

.car-type
{
    width: 50%;
    float: left;
}

.image-area
{
    padding-top: 300px;
    padding-bottom: 300px;
}

.image-text
{
    font-size: 4.5rem;
}

}
